extends layout
block content
    div.container
        h3
            a(href='/orders') View All Orders
        h3
            a(href='/categories') View All Categories
        h3
            a(href='/employee') View All Employees
        h3
            a(href='/customer') View All Customers
        h3
            a(href='/products') View All Products