doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/toastr.min.css')
    link(rel='stylesheet', href='/css/site.css')
  body
     nav.navbar.navbar-inverse(role="navigation")
         .container-fluid
             .navbar-header
                 span.navbar-brand #{title}
             .collapse.navbar-collapse
                 ul.nav.navbar-nav
                    li
                        a(href="/") Home
    block menu
    block content
    block footer
    include scripts