doctype html
html
  head
    meta(charset="UTF-8")
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/scrolltotop.css')
    title= title
    style(type='text/css').
        table {
            empty-cells: show;
        }
        body{
            padding-top: 65px;
        }
    body
       nav.navbar.navbar-inverse(role="navigation").navbar-fixed-top
         .container-fluid
             .navbar-header
                 span.navbar-brand #{title}
             .collapse.navbar-collapse
                 ul.nav.navbar-nav
                    li
                        a(href="/") Home
                 ul.nav.navbar-nav.navbar-right
                     li
                         a(href="javascript:history.back()") Back
      #content
            block menu
            block content
            block footer
            a(href="#" class="back-to-top") Back to Top
       include scripts