doctype html
html
  head
    meta(charset="UTF-8")
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/site.css')
    title= title
    style(type='text/css').
        table {
            empty-cells: show;
        }
        body{
            padding-top: 65px;
        }
    body
       nav.navbar.navbar-inverse(role="navigation").navbar-fixed-top
         .container-fluid
             .navbar-header
                 span.navbar-brand #{title}
             .collapse.navbar-collapse
                 ul.nav.navbar-nav
                    li
                        a(href="/") Home
      block menu
      block content
      block footer
      include scripts