extends layout
block content
    div.container-fluid
        div.jumbotron
            =order
        div.row
            div.col-xs-6
                =details
            div.col-xs-6
                each d in details
                    each p in products
                        if(d.productId == p._id)
                            p
                                =p

